#start-page{
    overflow: hidden;
    margin-top: 50px;
}

.greeting{
    float: left;
    width: 50%;
}

.greeting h2{
    font-size: 40px;
    font-family: Inter;
    font-weight: bold;
}

.greeting .name{
    font-size: 96px;
    font-family: Butler_Bold;
    font-weight: bold;
    margin: 0px 0px -60px 0px;
}

.greeting .name p{
    margin: 0px 0px -5px 100px;
}

.greeting h2{
    margin: 100px 0px 30px 100px;
}

.greeting h2 p{
    margin: -30px 0px 30px 0px;
}

.presentation{
    padding-left: 800px;
    padding-top: 80px;
}

.profile-photo img{
    width: 452px;
}
.contact-info a{
    font-family: Inter;
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}