#start-page{
    overflow: hidden;
    margin-top: 50px;
}

.greeting{
    float: left;
    width: 50%;
}

.greeting h2{
    font-size: 40px;
    font-family: Inter;
    font-weight: bold;
}

.greeting .name{
    font-size: 96px;
    font-family: Butler_Bold;
    font-weight: bold;
    margin: 0px 0px -60px 0px;
}

.greeting .name p{
    margin: 0px 0px -5px 100px;
}

.greeting h2{
    margin: 100px 0px 30px 100px;
}

.greeting h2 p{
    margin: -30px 0px 30px 0px;
}

.presentation{
    position: absolute;
    left: 60%;
    width: 50%;
    margin-top: 10%;
}

.profile-photo img{
    object-fit: cover;
    width: 386px;
    height: 452px;
    border-radius: 115px;

    filter: drop-shadow(8px 12px 44px rgba(0, 0, 0, 0.25));
}

.contact-info a{
    position: relative;
    left: 117px;
    top: 10px;
}

#github{
    position: relative;
    right: 5%;
}

#linkedin{
    position: relative;
    right: 2%;
}

#twitter{
    position: relative;
    right: -1%;
}

#instagram{
    position: relative;
    right: -4%;
}

@media screen and (max-width: 900px) {
    .greeting{
        width: 100%;
        float: none;
    }

    .greeting p{
        width: 80%;
    }

    .presentation{
        position: relative;
        left: 25%;
        padding-bottom: 15%;
    }
}