#landing{
    margin-top: 5vh;
    display: flex;
}

.left-pannel{
    width: 60%;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.left-pannel .medium{
    font-size: 3vw;
    font-family: Inter;
    font-weight: bold;
    margin: 15% 0% 5% 10%;

}

.left-pannel .large{
    font-size: 7vw;
    font-family: Butler_Bold;
    font-weight: bold;
    margin: 5% 0% -10% 10%;
}

.right-pannel{
    width: 35%;
    margin: auto;
}

.profile-photo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 25vw;
    height: 30vw;
    border-radius: 7vw;
    filter: drop-shadow(8px 12px 44px rgba(0, 0, 0, 0.25));
}

.social-media{
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.icon-span{
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
}

.icon{
    width: 3vw;  
}


.email{
    margin-top: 3vh;
    text-align: center;
}
.email a{
    color: black;
    font-family: Inter;
    font-weight: bold;
    font-size: 2vw;
    text-decoration: none;
}

@media (max-width: 800px){
    .landing{
        flex-wrap: wrap;
    }
    .left-pannel {
        width: 100%;
    }
    .right-pannel {
        width: 100%;
    }
}