#landing{
    overflow: hidden;
    margin-top: 50px;
}

.left-pannel{
    float: left;
    width: 50%;
}

.left-pannel .medium{
    font-size: 40px;
    font-family: Inter;
    font-weight: bold;
    margin: 15% 0% 5% 10%;

}

.left-pannel .large{
    font-size: 96px;
    font-family: Butler_Bold;
    font-weight: bold;
    margin: 5% 0% -10% 10%;
}

.right-pannel{
    position: absolute;
    left: 60%;
    width: 50%;
    margin-top: 10%;
}

.profile-photo img{
    object-fit: cover;
    width: 73%;
    height: 457px;
    border-radius: 115px;
    filter: drop-shadow(8px 12px 44px rgba(0, 0, 0, 0.25));
}

.social-media{
    position: relative;
    left: 22%;
    top: 10px;
}

#github{
    position: relative;
    right: 5%;
}

#linkedin{
    position: relative;
    right: 2%;
}

#twitter{
    position: relative;
    right: -1%;
}

#instagram{
    position: relative;
    right: -4%;
}