@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@font-face {
    font-family: Butler_Bold;
    src: url(./fonts/Butler_Bold.otf);
}

body{
    background-color: #FFFDF9;
}