.contacto{
    position: absolute;
    top: 50px;
    left: 65%;
}

.contacto a{
    color: black;
    text-decoration: none;
    font-family: Inter;
    font-size: 28px;

}

.contacto a:hover{
    text-decoration: underline;
}